body{
    width:100%;
    background-color: black;
    margin: 0px; 

}

/*cabecera*/
header{
    background-color:  #5b7989;
    color: white;
    text-shadow: 2px 2px 2px #02010a;
    border-top-right-radius: 10px; 
    border-top-left-radius: 10px;
    height: 70px;
    position: relative;
    font-style: italic;
    margin: 0px;
    padding: 10px;
    border: 0px;
    float: top;
}
header>h1{
    position: relative;
    float: left;
}
header>a{
    text-decoration: none;
    color: white;
    position: relative;
    top:35px;
    float:right;
    font-size: 18px;
}
header>a:hover{
    text-decoration: none;
    color: #02010a;
    text-shadow: 2px 2px 2px white;
}

/*imagen central*/
.imgcentral{
    background-color: #82c3a6;
    text-align: center;
    width: 100%;
    padding: 10px;
}
.imgcentral>img{
    width: 70%;
}
/*imagen secundaria*/
.contenedor{
    -webkit-display: flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    background-color: #d5c75f;
    border: 1px;
}

.imagen1, .imagen2{
    width: 50%;
    text-align: center;
    padding: 20px 0px 20px 0px;
}
        /*transform img1*/
img[src^='imagenes/img1']{
    transition: transform 1s;
}
img[src^='imagenes/img1']:hover{
    transform: rotate(10deg);
    box-shadow: 2px 2px 2px  #82c3a6;
    border: 2px solid #82c3a6;
}

        /*transform img2*/
img[src^='imagenes/img2']{
    transition: transform 1s;
}
img[src^='imagenes/img2']:hover{
    transform: translate(20px,-5px);
    box-shadow: 2px 2px 2px  #82c3a6;
    border: 2px solid #82c3a6;
}        
        
        
img[src^='imagenes/img']{
    width: 70%;
    box-shadow: 2px 2px 2px black;
    border: 1px solid black;
}

a[href^='hola']{
    color: black;
}


/*footer*/


/*media queries*/

/*menu dispositivos*/
@media (max-width: 1024px){
    header{
        height: 40px;
    }
    header>a{
        display: none;
    }
    header>h1{
        font-size: 16px;
    }
    
/*imagenes en movil*/    
    .imagen1, .imagen2{
    width: 100%;
    text-align: center;
}
img[src^='imagenes/img']{
    width: 80%;
}
}